# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Run php-cs-fixer'
      'command': 'php-cs-fixer:fix'
    },
    {
      'label': 'Run php-cs-fixer on project'
      'command': 'php-cs-fixer:fixProject'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'php-cs-fixer'
      'submenu': [
        {
          'label': 'Fix'
          'command': 'php-cs-fixer:fix'
        },
        {
          'label': 'Fix Project'
          'command': 'php-cs-fixer:fixProject'
        },

      ]
    ]
  }
]
